#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem; /* Adds space between sections */
  }
  
  .section {
    width: 100%;
    /*max-width: 900px; /* Max width of sections */
    /*background-color: white;*/
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
  }

  .addButton {
    background-color: green;
  }

  .pair {
    display: flex;
    gap: 5px;
  }

  .submit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }


  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  